<% @user ||= current_user %>
<div class="col-md-12 col-sm-12 user-detail-section2 pull-left">
  <div class="border"></div>
  <p>Subscribers</p>
  <span><%= @user.subscribers.count %></span>
</div>
<div class="col-md-12 col-sm-12 user-detail-section2 pull-right">
  <div class="border"></div>
  <p>Subscriptions</p>
  <span><%= @user.subscriptions.count %></span>
</div>
